*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.Header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
}

.Header .logo{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 80px;
}

.Header img{
    width: 100%;
    display: flex;
    margin: auto;
}

.objects{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.btn_he{
    float: right;
    display: flex;
    flex-direction: row; 
}

.btn{
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: rgb(40, 40, 40);
}

@media (max-width:480px) {
    .Header .logo{
        display: none;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 200px;
        height: 80px;
    }
    
    .Header img{
        width: 100%;
        display: flex;
        margin: auto;
    }
}