.footer{
    width: 100vw;
    padding: 10px 0;
    background-color: #414141;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.foot{
    display: flow-root;
    font-size: 13px;
    color: white;
    text-align: center;
}

.foot:last-child{
    margin-top: 10px;
}
