.menu-conteiner{
    display: flex;
    margin: auto;
    width: 80%;
}


.categoria-selector, .card-conteiner{
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(4,1fr);
    padding-bottom: 40px;
    margin-bottom: 40px;
    z-index: 0;
}


.btn-reset{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    padding-top: 40px;
}

.reset-button{
    width: 100px;
    height: 50px;    
    border: none;
    border-radius: 10px;
    background-color: rgb(80, 80, 80);
    font-size: 20px;
    color: white;
}

.reset-button:hover{
    cursor: pointer;
}

@media (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        overflow-x: hidden;        
    }
    .menu-conteiner{
        display: flex;
        margin: auto;
        width: 100vw;
        justify-content: center;
    }

    .categoria-selector{
        display: grid;
        border-radius: 10px;
        grid-template-columns: repeat(2,195px);
        padding-bottom: 40px;
        margin-bottom: 40px;
        z-index: 0;
    }

    .card-conteiner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}