
/*MAPA Y NOSOTROS*/
.Inicio{
    background-color: #cecece;
}

.mapa-nosotros{
    
    margin-top: 150px;
    display: grid;
    height: 70vh;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}
.mapa-nosotros h1{
    margin: 30px auto 0;
}
.mapa{
    border: 1px solid black;
    margin: 20px auto 0;
    width: 70%;
    height: 65%;
    background-color: aliceblue;
}

.caja-mapa:first-child{
    display: flex;
    flex-direction: column;
    background-color:#414141;
}

.caja-mapa:first-child p{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}

.contactos{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-between;
    margin: 50px auto;
    align-items: center;
    font-size: 20px;
}

.caja-mapa:last-child{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}
.icono{
    border: 5px solid rgb(168, 168, 168);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
}
.icono:hover{
    -webkit-box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.36);
    box-shadow: inset 0px 0px 5px 4px rgba(0,0,0,0.36);
}

.icono a{
    color: rgb(76, 76, 76);
    display: flex;
    align-items: center;
    font-size: 23px;
    text-decoration: none;
}

.icono p{
    margin-top: 5px;
}

.icono img{
    width: 60px;
    margin-right: 20px;
}
@media (max-width: 480px) {

    /*MAPA Y NOSOTROS*/

    .mapa-nosotros{
        
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        height: 110vh;
        width: 100%;
    }

    .mapa-nosotros h1{
        margin: 30px auto 0;
    }

    .mapa{
        border: 1px solid black;
        margin: 20px auto 0;
        width: 70%;
        height: 50%;
        background-color: aliceblue;
    }
    
    .caja-mapa:first-child{
        background-color:#414141;
        height: 150%;
    }
    
    .caja-mapa:last-child{
        height: 150%;
    }
    .contactos{
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 20px;
    }

    .contactos{
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
        margin: 100px auto ;
        font-size: 20px;
    }

    .icono{
        border: none;
        padding: 0;
    }

    .icono:hover{
        -webkit-box-shadow: inset 10px 0px 0px -200px rgba(0,0,0,0);
    -moz-box-shadow: inset 10px 0px 0px -200px rgba(0,0,0,0);
    box-shadow: inset 10px 0px 0px -200px rgba(0,0,0,0);
    }

    .icono p{
        display: none;
    }
    
    .icono img{
        transition: 1s;
    }

    .icono img:hover{
        width: 100px;
    }
}